<div class="row">
    <div class="col-3 leftside">
      <a href="">
        <img src="assets/yash-logo.png" class="image1 img-fluid" alt="cars" />
      </a>
  
      <hr style="color: white" />
      <nav class="main-menu" role="navigation">
        <ul class="main-menu">
          <div class="main-menu1">
            <li class="nav1"><a class="nav2" routerLink="/dashboard">Dashboard</a></li>
            <br />
          </div>
          <div class="main-menu2">
            <li class="nav1"><a routerLink="/feedback-list" class="nav2">Feedback list</a></li>
            <br />
          </div>
          <div class="main-menu3">
            <li class="nav1"><a routerLink="/upload-feedback" class="nav2"> Feedback-upload</a></li>
            <br />
          </div>
        </ul>
      </nav>
    </div>
    <div class="col-9 block ">
    <div class="block">
    </div>
    
  
  
    <div class="content">
      
      <button class="btn btn-primary" routerLink="/add-feedback">Add Feedback</button>
      <h1>Feedback-List</h1>
      
    </div>
  
  
  
  </div>
