.container{
    
    /* background-image: url("https://blog.vantagecircle.com/content/images/size/w1000/2021/01/Employee-Management-Meaning-Importance-Tips-Tools---More.png"); */
    background-image: url("https://knowledge.wharton.upenn.edu/wp-content/uploads/2021/09/Return-to-office.jpg");
    padding: 5%;
    width:fit-content;
    margin-top: 1px;


}



