

<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet">


<!-- Template Main CSS File -->
<!-- <link href="/.. /assets/vendor/css/style.css" rel="stylesheet">
 -->
<!-- Navigation Bar start -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
   <!--  <a class="navbar-brand" routerLink="/homepage">Employee Management System</a> -->
   <h2 style="color: rgb(173, 230, 27);">Employee Management System</h2>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
    aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
   
    <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/employeelist">Employee List</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/createemployee" >Add Employee</a>
            </li>
          </ul>
  </div>
</nav>
<!-- Navigation Bar End -->
<!-- Start of homepage design section -->
<section id="hero" class="d-flex align-items-center">
  </section><br><br><br><br><br><br><br>
  <h2> Welcome Employee Onboarding</h2>
  <div class="BackgroundImage">
  
</div>
<!-- <footer > 
<span>All Rigth Reserved 2023 @Yash Technology Pvt.Ltd</span>
</footer> -->
