<!-- Navigation Bar start -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <!--  <a class="navbar-brand" routerLink="/homepage">Employee Management System</a> -->
    <h2 style="color: rgb(173, 230, 27);">Employee Management System</h2>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
        aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navb" class="navbar-collapse collapse hide">

        <ul class="nav navbar-nav ml-auto">

            <li class="nav-item">
                <button class="btn-primary" style="margin-left: 10px;" routerLink="/home">Home</button>
            </li>
            <li class="nav-item">
                <button class="btn-info" style="margin-left: 10px;" routerLink="/onboard">Onboarding</button>
            </li>
            
        </ul>
    </div>
</nav> 
<!-- Navigation Bar End -->
<!-- Start of homepage design section --> 

<!--Angular Material Nav Bar-->
<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h2>Employee Management System</h2>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item> Home</a>
            <a mat-list-item> Onboard </a>
            <a mat-list-item> Feedback </a>
            <a mat-list-item> Report</a>
            <a mat-list-item> About Us</a>
            <a mat-list-item> Contact</a>
        
        </mat-nav-list>
    </mat-sidenav >
    <mat-sidenav-content>
        <div style="height: 88vh;">
        <router-outlet></router-outlet></div>
    </mat-sidenav-content>
</mat-sidenav-container> -->


<div class="bg">
 
</div>
<router-outlet></router-outlet>