<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet">


<!-- Template Main CSS File -->
<!-- <link href="/.. /assets/vendor/css/style.css" rel="stylesheet">
 -->
<!-- Navigation Bar start -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
 <!--  <a class="navbar-brand" routerLink="/register" >Employee Management System</a> -->
  <h2 style="color: rgb(173, 230, 27);">Employee Management System</h2>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
    aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
   
    <ul class="nav navbar-nav ml-auto">

      <li class="nav-item">
        <a  class="nav-link" routerLink="/onboard" ><span class="fas fa-user"></span>DashBoard</a> 
      </li>
     <li class="nav-item">
         
        <a class="nav-link" routerLink="/register"><span class="fas fa-user"></span> Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><span class="fas fa-sign-in-alt"></span> Login</a>
      </li>

    </ul>
  </div>
</nav>
<!-- Navigation Bar End -->
<!-- Start of homepage design section -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h2>Welcome To Home Page</h2>
    
 
  </div>


 <!--  <div class="row">
    <div class="col-rg-2">
      <div class="side-menu-list">
      <ul>
        <li>
          <a  class="nav-link" routerLink="/onboard" ><span class="fas fa-user"></span>DashBoard</a> 
        </li>
      </ul>
      </div>
    </div>
  </div> -->
</section><br><br><br><br><br><br><br>

<!-- End of homepage design section -->