
<div class="bg">
    <!-- <h1>Welcome to Admin</h1> -->
    <ul>
    <!-- <li class="nav-item">
        <button class="btn-info" style="margin-left: 10px;" routerLink="/onboard">Admin</button>
      </li> -->
<li class="nav-item">
    <button class="btn-info" style="margin-left: 10px;" routerLink="/employeelist">Employee List</button>
  </li>
  <li class="nav-item">
    <button class="btn-success" style="margin-left: 10px;" routerLink="/createemployee">Add Employee</button>
  </li>
  <li class="nav-item">
    <button class="btn-primary" style="margin-left: 10px;" [routerLink]="['/onboard']">Back</button>
    
  </li>
</ul>

   
  </div>