.bg {
    /* The image used */
    background-image: url("https://www.shutterstock.com/image-photo/technology-concept-admin-260nw-404758537.jpg");
    /* Full height */
    height: 620px;
     /* Center and scale the image nicely */
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
