.leftside {
    background-color: rgb(75, 196, 75);
    height: 100vh;
    color: black;
}

.image1 {
    height: 55px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 10px;
    /* margin-left: 30px;
    margin-top: 20px; */
}

.block {
    height: 80px;

    background-color: gray;

}