.leftside {
    background-color: rgb(75, 196, 75);
    height: 100vh;
    color: black;
}

.image1 {
    height: 55px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 10px;
    /* margin-left: 30px;
    margin-top: 20px; */
}

.block {
    height: 80px;

    background-color: gray;

}

.content {
    text-align: center;
}

table,
th,
td {

    padding: 5px;
}

table {
    border: 2px solid;
    border-spacing: 10px;
}